<html>
  <title>
   Friday Lattice Talks
  </title>
  <body style="background-color:powderblue;">
    <div >
        <h2>Lattice Friday Talks</h2>
        <div>
                <form action="/fetchdata" method="POST">
                
                <input type="text" name="text" placeholder="Title" required>
                <br>
                <br>
                <textarea name="description" placeholder="Type your Description" required></textarea>
                <br>
                <br>
               
                <button type="submit">Create An Issue</button>
               
          </form>
           </div>
        </div>
    
  </body>
</html>